# Ignore node_modules in all subfolders
**/node_modules

# Ignore .env files (environment variables)
**/.env
**/.env.* 

# Ignore build output
**/.next
**/dist
**/build
**/.turbo

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
